.ipynb_checkpoints
application_test.csv
application_train.csv
bureau_balance.csv
bureau.csv
credit_card_balance.csv
HomeCredit_columns_description.csv
installments_payments.csv
POS_CASH_balance.csv
previous_application.csv
sample_submission.csv
Manual_Features.csv
Manual_Features_test.csv
rf_important_features.csv
rf_important_features-no-target.csv
rftest_important_features.csv